*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    word-wrap: normal ;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    background-color: navy;
    color: white;
}

header h1 {
    font-size: 2.5em;
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    font-size: 1.25em;
    padding-top: .5em;
    display: inline-flex;
    margin-left: 1em;
    align-content: center;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    padding-right: 1%;
    border-right-style: solid;
    border-right: 1%;
    border-color: lightblue;
    margin-right: 1%;
    font-size: x-large;
}

article {
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: space-between;
}

#smallScreenAvatar {
    display: none;
}

article p {
    align-content:flex-start;
}

#avatar {
    display: flex;
    justify-items: flex-end;
    align-self: center;
    max-width: 25%;
    height: fit-content;
    border-style: solid;
    border-width: .5em;
    border-color: lightblue;
    border-radius: 0 0 15px 0 ;
    margin: 1%
}

section {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1%;
}



section a {
    flex-flow: column wrap;
    position: relative;
    text-decoration: none;
}

section a img {
    border-style: solid;
    border-color: lightblue;
    border-width: 3%;
    border-radius: 5px;
}

.textbox {
    position: absolute;
    bottom: 30px;
    left: 0px; background-color: lightblue;
    border: 10px solid lightblue;
    border-radius: 0 5px 5px 0;
    text-decoration: none;
    color: navy;
}

.textbox h3 {
    font-size: 1.6em;
}

.textbox p {
    font-size: 1.1em;
}

.projectgrid #project1 img {
    width: 96.5%;
}

#project2 img, #project3 img, #project4 img, #project5 img {
    width: 48%;
    max-height: 250px;
}


footer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    background-color: navy;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 75px
}

footer h3 {
    padding: .5%;
    align-items: center;
}

footer ul li {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 4px;
}

footer ul li a {
    color: white;
}


@media screen and (max-width: 768px) {
    header {
        font-size: smaller;
    }
    
    h2 {
        align-self: center;
        border-bottom-style: solid;
        border-right: 0;
        border-bottom: 1%;
        border-color: lightblue;
        margin-right: 0;
        margin-bottom: 1%;
    }
    
    article {
        flex-direction: column;

    }

    #avatar {
        display: none;
    }

    #smallScreenAvatar {
        display: flex;
        justify-items: flex-end;
        align-self: center;
        max-width: 40%;
        height: fit-content;
        border-style: solid;
        border-width: .5em;
        border-color: lightblue;
        border-radius: 0 0 15px 0 ;
        margin: 1%
    }

    
    section {
        flex-direction: column;
    }
}
    